@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap') @tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-image: url('../public/5685020.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  
}


.coverDiv {

  
  overflow: hidden;
  background-attachment: fixed;
  height: 100dvh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}





/*LoginForm*/
.loginUpper {
  background-image: url('../public/5685020.jpg');
  background-color: #F0F0F0;
  
  /* Default background size for devices wider than 1250px */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left ;
  
  /* Media query for devices with a maximum width of 1250px (mobile devices) */
  @media (max-width: 1250px) {
    background-size: cover;
    
  }
  outline: 0;
}

.PI{
  background-image: url('../public/ian-dooley-3NCA3tbaE5I-unsplash.jpg');
  background-repeat:no-repeat;
  background-size: cover;
}

.blurry{
  background-color:rgba(0,0,0,0.5);
  backdrop-filter:blur(5px);
}

.travel{
  background-image: url('../public/composition-small-airplanes-bus-passport-map.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  

}
.travelGlass{
  background: rgba(255, 255, 255, 0.25);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.5);
}
.loginDiv{

  background-image: url('../public/IUTBackgrnd.jpg');
  background-repeat:no-repeat;
  background-size: cover;

  /* Media query for devices with a maximum width of 1250px (mobile devices) */
  @media (max-width: 1250px) {
    background-size:cover;
    
  }
}



.form{
  @media (max-width: 720px) {
    width: 100dvh;
  }
}

.slide-in{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background:#F0F0F0;
  transform-origin:bottom;
}

.slide-out{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background:#F0F0F0;
  transform-origin:top;
}